html
{
    font-family:"Regular" ;
    font-size: 16px;
}

.d-flex
{
    display: flex;
}
// block section
.block
{
    padding: 3.125rem 0rem;
    &-container
    {
        max-width: 1600px;
        margin: 0 auto;
    }
    &-title
    {
        margin-bottom: 10px;
        h3 
        {
            color: var(--primaryText);
            text-transform: uppercase;
            font-family: "SemiBold";
            letter-spacing: 2px;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 1.875rem;

        }
    }
}
 
// Product card Design 

.productItem
{
    text-align: center;
    white-space: normal;
    &-wrapper
    {
        position: relative;
        // width: 320px;
        overflow: hidden;
    }
    &-imageWrapper
    {
        display: block;
        
    }
}
