html
{
    font-family:"Regular" ;
    font-size: 16px;
}

.d-flex
{
    display: flex;
}
// block section
.block
{
    padding: 3.125rem 0rem;
    @media screen and (max-width: 768px) {
        padding: 1.875rem 0rem;
    }
    &-container
    {
        max-width: 1600px;
        margin: 0 auto;
    }
    &-title
    {
        margin-bottom: 10px;
        h3 
        {
            color: var(--primaryText);
            text-transform: uppercase;
            font-family: "Regular";
            letter-spacing: 2px;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 3.125rem;
            @media screen and (max-width: 768px) {
                font-size: 18px;
                margin-bottom: 1.875rem;
            }

        }
    }
}
 
// Product card Design 

.productItem
{
    text-align: center;
    white-space: normal;
    &-wrapper
    {
        position: relative;
        // width: 320px;
        overflow: hidden;
    }
    &-imageWrapper
    {
        display: block;
        
    }
}

//Responsive Design 

@media screen and (max-width: 768px) {
.main {
    padding-top: 5rem;
}
}