@font-face {
    font-family: 'Regular';
    src: url('../fonts/SourceSans3-Regular.woff2') format('woff2'),
        url('../fonts/SourceSans3-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Light';
    src: url('../fonts/SourceSans3-Light.woff2') format('woff2'),
        url('../fonts/SourceSans3-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SemiBold';
    src: url('../fonts/SourceSans3-SemiBold.woff2') format('woff2'),
        url('../fonts/SourceSans3-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bold';
    src: url('../fonts/SourceSans3-Bold.woff2') format('woff2'),
        url('../fonts/SourceSans3-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
