:root
{
    --background : #fff;
    --foreground :#f5f5f5;

    --primaryText:#1c1b1b;
    --secondaryText:#6a6a6a;

    --primary:#EB455F;
    --secondary:#2B3467;
    --tertiary:#BAD7E9;
    
}

    // --primaryBtnBg:#38AED9;
    // --primaryBtnColor:#fff;
    // --primaryBtnBroder:#38AED9;
    // --primaryBtnHover:#197571;


    // --secondaryBtnBg:#fff;
    // --secondaryBtnColor:#1c1b1b;
    // --secondaryBtnBroder:#1c1b1b;
    // --secondaryBtnHover:#38AED9;
